@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
    font-family: "Poppins", sans-serif;
    background: #f2f4f7;
  }
  


  


#titel{
    text-align: left;
    color: blue;
    font-weight: bold;
    font-size:3.5rem;
}



.container{
    padding-top: 200px;
    
   
  
}

#desc{
    text-align: left;
    font-size: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 1rem;
    width: 430px;
    height: 380px;
    border-radius: 5%;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  }

#email-phone {
    
    height: 60px;
   
    font-size: 1.1rem;
  }

#create-account{
    background-color:#03ad06 ;
    color: #f2f4f7;
}
  
  
  
  